unary_operator_test_case {
  operator_type: kMinus
  operand: 1.0
  value: -1.0
}
binary_operator_test_case {
  operator_type: kAddition
  lhs_operand: 1.0
  rhs_operand: 2.0
  value: 3.0
}
binary_operator_test_case {
  operator_type: kSubtraction
  lhs_operand: 1.0
  rhs_operand: 2.0
  value: -1.0
}
binary_operator_test_case {
  operator_type: kMultiplication
  lhs_operand: 1.0
  rhs_operand: 2.0
  value: 2.0
}
binary_operator_test_case {
  operator_type: kDivision
  lhs_operand: 1.0
  rhs_operand: 2.0
  value: 0.5
}

